.builder__menu {
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: relative;
  animation: scaleRight 1s;
  background-image: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-secondary)
  );
}

.menu__help-icon {
  animation: glow 1.6s 0.2s backwards;
}
/*Instructions*/

/**********************************/

.builder__menu > div {
  color: white;
  display: grid;
  place-items: center;
  text-align: center;
  flex-basis: 14.28%;
  cursor: pointer;
  transition: 0.7s;
}
.builder__menu > div:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.builder__menu__delete {
  border-right: 0;
}

@keyframes glow {
  0% {
    transform: scale(1, 1);
    filter: blur(1px);
  }
  50% {
    filter: blur(0px);
    color: #333;
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes glow {
  0% {
    transform: scale(1, 1);
    filter: blur(1px);
  }
  50% {
    filter: blur(0px);
    color: #333;
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes scaleRight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scaleRight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 64em) {
  .builder__menu {
    background-color: transparent;
  }
  .builder__menu > div {
    border-radius: 0%;
  }
}

/*
.builder__menu__element-edit-menu {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.builder__menu__delete-element {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  cursor: pointer;
}

.builder__menu::after {
  position: absolute;
  content: "👆 Drag elements to the preview";
  top: 103%;
  left: 3%;
  padding: 3em;
  background-color: white;
  border: aqua 3px solid;
  color: #333;
  border-radius: 1em;
  font-size: 1em;
  animation: fadeInAndOut 1s 1.5s forwards;
  z-index: 1000;
}


@keyframes fadeInAndOut {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  99% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%) scale(0, 0);
  }
}
@-webkit-keyframes fadeInAndOut {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  99% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%) scale(0, 0);
  }
}
*/
