.builder__menu {
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: relative;
  background: linear-gradient(
    rgb(164, 31, 197),
    rgb(133, 53, 153),
    rgb(164, 31, 197)
  );
}
/*Instructions*/
.builder__menu::after {
  position: absolute;
  content: "👆 Drag elements to the preview";
  top: 103%;
  left: 3%;
  padding: 3em;
  background-color: white;
  border: aqua 3px solid;
  color: #333;
  border-radius: 1em;
  font-size: 1em;
  animation: fadeInAndOut 1s 1.5s forwards;
  z-index: 1000;
}

@keyframes fadeInAndOut {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  99% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%) scale(0, 0);
  }
}
@-webkit-keyframes fadeInAndOut {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  99% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%) scale(0, 0);
  }
}
/**********************************/

.builder__menu > div {
  color: white;
  display: grid;
  place-items: center;
  text-align: center;
  border-right: 3px solid white;
  flex-basis: 16.66%;
  cursor: pointer;
}
.builder__menu__delete {
  border-right: 0;
}

/*
.builder__menu__element-edit-menu {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.builder__menu__delete-element {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  cursor: pointer;
}
*/
