.builder__preview {
  border-left: solid 3px var(--color-text);
  border-top: solid 3px var(--color-text);

  background: white;
  overflow-x: hidden;
  box-sizing: border-box;
}
.builder__preview::after {
  content: "Preview";
  position: absolute;
  color: grey;
  opacity: 0.5;
  top: 1%;
  left: 1%;
  font-size: 1.5em;
  z-index: 0;
}
.preview__element {
  font-family: "Poppins";
  cursor: "pointer";
  position: relative;
}
.iframe-holder-preview {
  position: relative;
}
.iframe-holder-preview::before {
  position: absolute;
  cursor: grab;
  top: 0;
  left: 0;
  z-index: 100;
  content: "";
  background: transparent;
  pointer-events: all;
  width: 100%;
  height: 100%;
}
.preview__element-active {
  outline: solid 3px red;
}
