.home {
  width: 100%;
  height: 90vh;
  display: grid;
  place-items: center;
  position: relative;
  color: var(--color-text);
}
.home__scrolld {
  animation: fadeInComponent 1s 4s backwards;
}
.home__content-container {
  width: max-content;
  height: max-content;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: rgb(255, 255, 255);
  padding: 1.5em;
  border-radius: 1em;
  animation: fadeInComponent 1s backwards;
  border: 2px solid #333;
}

.home h1,
.home h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: var(--color-text);
  color: #333;
}
.home h1 {
  font-size: 2.5em;
  font-family: "Pacifico", cursive;
}
.home h2 {
  margin: 1em 0;
  font-size: 1.5em;
}
.home button {
  padding: 0.6em 0.9em;
  border-radius: 0.3em;
  color: rgb(255, 255, 255);
  border: 0;
  background: var(--color-primary);
  transition: all 0.3s;
  font-size: 1.5em;
  margin-bottom: 1em;
  cursor: pointer;
  overflow: hidden;
  font-weight: bolder;
}
.home button:hover {
  background: var(--color-primary);
}
.home button span {
  font-family: inherit;
  font-weight: bolder;
  display: inline-block;
  transform: translateY(200%);
  transition: 0.3s;
}

.home button:hover span {
  margin-left: 1rem;
  transform: translateY(0%);
  font-weight: bolder;
}

.home__link:visited,
.home__link:link,
.home__link {
  color: #333;
  font-family: "Pacifico", cursive;
}
@media screen and (max-width: 64em) {
  .home {
    min-height: 87h;
    font-size: 130%;
  }
  .home__content-container {
    width: 95%;
    box-sizing: border-box;
  }
  .home h2,
  .home button {
    font-size: 90%;
  }
  .home h1 {
    font-size: 2em;
  }
  .home__content-container {
    padding: 0.5em;
  }
}
