.home {
  width: 100%;
  height: 90vh;
  display: grid;
  place-items: center;
  position: relative;
  color: var(--color-text);
}
.home__scrolld {
  animation: fadeInComponent 1s 4s backwards;
}
.home__content-container {
  width: max-content;
  height: max-content;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: white;
  padding: 1.5em;
  border-radius: 1em;
}

.home h1,
h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: var(--color-text);
}
.home h1 {
  font-size: 2.5em;
  font-family: "Pacifico", cursive;
  animation: fadeInComponent 1s backwards;
}
.home h2 {
  margin: 1em 0;
  font-size: 1.5em;
  animation: fadeInComponent 1s 1s backwards;
}
.home button {
  animation: fadeInComponent 1s 2.3s backwards;

  padding: 0.6em 0.9em;
  border-radius: 0.3em;
  color: white;
  border: 0;
  background: rgb(95, 197, 231);
  transition: all 0.3s;
  font-size: 1.5em;
  margin-bottom: 1em;
  cursor: pointer;
  overflow: hidden;
}
.home button:hover {
  background: linear-gradient(rgb(96, 167, 190), rgb(67, 115, 219));
}
.home button span {
  font-family: inherit;
  font-weight: bolder;
  display: inline-block;
  transform: translateY(200%);
  transition: 0.3s;
}

.home button:hover span {
  animation: fadeUpComponent 0.4s forwards;
  margin-left: 1rem;
}
@media screen and (max-width: 64em) {
  .home {
    min-height: 87h;
    font-size: 130%;
  }
  .home__content-container {
    width: 95%;
    box-sizing: border-box;
  }
  .home h2,
  .home button {
    font-size: 90%;
  }
  .home h1 {
    font-size: 2em;
  }
  .home__content-container {
    padding: 0.5em;
  }
}
