.UI-card {
  background: var(--color-primary);
  max-width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.UI-card form {
  max-width: 100vw;

  padding: 1.5rem;
}
.UI-card form > div {
  margin: 0.5rem;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.UI-card form label {
  font-weight: bolder;
  color: white;
  font-size: 1.1em;
  max-width: 50%;
}
.UI-card form input,
textarea {
  font-size: 1.1em;
  background: #333;
  border: none;
  max-width: 50%;
  color: white;
  border-radius: 0.3em;
  font-weight: bolder;
  transition: 0.3s;
  position: relative;
  padding-left: 0.3em;
}
.UI-card form input,
textarea:focus {
  box-shadow: 0 0 0.3em #333;
}
.UI-card form button {
  border-radius: 0.3em;
  font-weight: bolder;
  background-color: white;
  color: #333;
  border: none;
  transition: 0.3s;
  padding: 0.4em 0.5em;
}
.UI-card form button:hover {
  color: white;
  background-color: #333;
  cursor: pointer;
}
