@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
*,
*::after,
a::before {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
  background-color: rgba(157, 248, 255, 0.11);
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #4d948e, #1cb7bd, #0d7c9e);
}

::-webkit-scrollbar-thumb:hover {
  background: #0d7c9e;
}

.fadeIn {
  animation: fadeInComponent 1s backwards;
}
@keyframes fadeInComponent {
  0% {
    opacity: 0;
    letter-spacing: 3px;
  }
  100% {
    opacity: 1;
    letter-spacing: 0px;
  }
}
@-webkit-keyframes fadeInComponent {
  0% {
    opacity: 0;
    letter-spacing: 3px;
  }
  100% {
    opacity: 1;
    letter-spacing: 0px;
  }
}

@keyframes fadeUpComponent {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes fadeUpComponent {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
